    img {
    width: 200px;
    }

    .CardItem li {
    list-style:none;
    }

    .CardItem {
    padding: 10px 30px;
    border: 2px solid black;
    width: 200px;
    border-radius: 10px;
    text-align:center;
    }